{% extends 'base.html.twig' %}

{% block title %}Supprimer mon compte{% endblock %}

{% block main %}
    <div class="alert alert-warning" role="alert">
        <strong>Attention !</strong> Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.
    </div>
    {{ form_start(form) }}
        {{ form_row(form.delete, {label: 'Supprimer', attr: {class: 'btn btn-primary'}}) }}
        {{ form_row(form.cancel, {label: 'Annuler', attr: {class: 'btn btn-secondary'}}) }}
    {{ form_end(form) }}
{% endblock %}
