{% extends 'base.html.twig' %}

{% block title %}Accueil - Resto'N{% endblock %}

{% block main %}
    {% for category in categories %}
        <h2>{{ category.name }}</h2>

        {% if category.restaurants is empty %}
            Aucun restaurant
        {% else %}
            <ul>
                {% for restaurant in category.restaurants %}
                    <li>
                        <h3>{{ restaurant.name }}</h3>
                        {{ restaurant.description }}
                        <a href="#">Commander</a>
                        |
                        <a href="{{ path('app_reservation_create', {id: restaurant.id}) }}">
                            Réserver une table
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        Aucune catégorie
    {% endfor %}
{% endblock %}
