services:
    app:
        build: .
        container_name: symfony_app
        ports:
            - "8080:80"
        volumes:
            - .:/var/www/html
        depends_on:
            - db
        environment:
            - DATABASE_URL=mysql://symfony:symfony_password@db:3306/symfony_db?serverVersion=8.0&charset=utf8mb4

            # --- PUT YOUR REAL GOOGLE MAIL ---
            - MAILER_DSN=gmail://YOUR_EMAIL:YOUR_APPLICATION_PASSWORD@default

            # PUT YOUR REAL API KEY
            - MISTRAL_API_KEY=your_api_key_here

            - APP_ENV=prod
            - APP_DEBUG=0
            - APP_SECRET=auto_generate_me_please

    db:
        image: mysql:8.0
        container_name: symfony_db
        environment:
            MYSQL_ROOT_PASSWORD: root_password
            MYSQL_DATABASE: symfony_db
            MYSQL_USER: symfony
            MYSQL_PASSWORD: symfony_password
        volumes:
            - db_data:/var/lib/mysql
        ports:
            - "3306:3306"

volumes:
    db_data:
