{% extends 'base.html.twig' %}

{% block title %}Modifier la réservation{% endblock %}

{% block main %}
<div class="container mt-3">
    {{ include('reservation/_form.html.twig', {
        form: form,
        submit_label: 'Mettre à jour',
    }, with_context: false) }}

    <div class="mb-3">
        <a href="{{ path('app_reservation', {id: reservation.restaurant.id}) }}" class="btn btn-secondary action-btn mt-3">Retour aux réservations</a>
    </div>
</div>
{% endblock %}
