body {
    background-color: #B6D9F7;
}

.plat {
    display: none;
}

.plat.active {
    display: block;
}

.listPlat {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: flex-start;
}

a {
    margin: 0.3rem;
}

.adress {
    color: #4A4645;
    font-weight: bold;
}

li:nth-child(even) {
    background-color: var(--bs-light);
}

.btn {
    background-color: #064789;
}

.btn.active {
    background-color: #043362;
}

.card {
    background-color: #DAECFB;
    color: #064789;
}

.action-restaurant {
    display: flex;
    justify-content: flex-end;
}

.reservCommand {
    font-size: 2rem;
}
