{% block body %}
    <h1>Compte supprimé</h1>

    <p>Bonjour,</p>

    <p>
        Conformément à votre demande, votre compte <strong>Resto'N</strong> a été définitivement supprimé.
    </p>

    <p>Toutes vos données personnelles, historiques de commandes et réservations ont été effacés de nos serveurs.</p>

    <p>Nous espérons avoir le plaisir de vous revoir bientôt.</p>

    <p>
        <a href="{{ url('app_register') }}">
            Créer un nouveau compte
        </a>
    </p>
{% endblock %}
