{% extends 'base.html.twig' %}

{% block title %} Création d'un restaurant {% endblock %}

{% block main %}

    {{ include('restaurant/_form.html.twig', {submit_label : "Envoyer", form}, with_context: false) }}

    <div class="mt-3">
        <a href="{{ path('app_restaurant')}}">Annuler</a>
    </div>

{% endblock %}

