{% extends 'base.html.twig' %}

{% block title %} Édition du restaurant {{ restaurant.name }} {% endblock %}

{% block main %}
    <div class="container mt-3">
        <h1 class="h3 fw-bold mb-4">Édition du restaurant {{ restaurant.name }}</h1>
        {{ include('restaurant/_form.html.twig', {submit_label: 'Modifier', form: form}, with_context: false) }}

        <a href="{{ path('app_restaurant_manage', {id: restaurant.id}) }}" class="btn btn-primary w-100 p-3 mt-3">
        Annuler
    </a>

{% endblock %}
