{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block main %}
    <div class="container mt-4">
        <div class="col-md-6">
            {{ include('stock/_form.html.twig', {
                form: form,
                restaurant: restaurant,
                submit_label: 'Valider'
            }, with_context: false)
            }}
        </div>
    </div>
{% endblock %}
