{% extends 'base.html.twig' %}

{% if app.request.query.has('search') %}
    {% set currentSearch = app.request.query.get('search') %}
{% else %}
    {% set currentSearch = '' %}
{% endif %}

{% block title %}Liste des Plats{% endblock %}

{% block main %}

    <ul class="list-group nav">
        {% for dish in dishes %}

            <li class="list-group-item nav-item"
            ><a class="nav-link" href="{{ path('app_dish_show', {id: dish.id}) }}">
                    <span class="name">{{ dish.name }}</span
                    >, <span class="description">{{ dish.description }}</span
                    ></a
                ></li>

        {% endfor %}
    </ul>
{% endblock %}
